{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="header">
    <p class="welcome">Hello! I'm Sean Wilcox, a Vancouver Washington-based web developer.</p>
    <p class="information">I focus on honing my problem-solving and development skills. Python, Django, CSS and HTML are what I'm most skilled in, but I also have experience with jQuery, Bootstrap, Node.js, Vue.js and VBA.</p>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="name">Sean Wilcox</div>
      <hr>
      <div class="title">Web Developer and software engineer</div>
      <div class="email">SeanWilcox@comcast.net</div>
      <div class="phone">(971)-720-9423</div>
    </div>
    <div class="social-wrapper">
      <a href="https://github.com/SeanDutt" target="_blank" class="icon github">
        <span><i class="fab fa-github"></i></span>
      </a>
      <a href="https://www.linkedin.com/in/SeanWilcoxPDX" target="_blank" class="icon linkedin">
        <span><i class="fab fa-linkedin-in"></i></span>
      </a>
      <a href="https://www.instagram.com/scenestir" target="_blank" class="icon instagram">
        <span><i class="fab fa-instagram"></i></span>
      </a>
    </div>
  </div>
  <div class="portfolio-container">
    <div class="stand">
      <div class="portfolio">
        <a href="https://ecocompete.herokuapp.com/" target="_blank" class="portfolio-image"><img src="media\images\Ecocompete.JPG" alt="Under Construction"></a>
        <span>Ecocompete</span>
      </div>
    </div>
    <div class="stand">
      <div class="portfolio">
        <a href="https://codepen.io/Dutt1ez/full/GRrLMRj" target="_blank" class="portfolio-image"><img src="media\images\Timer.PNG" alt="Under Construction"></a>
        <span>Stopwatch app</span>
      </div>
    </div>
    <div class="stand">
      <div class="portfolio">
        <a href="https://codepen.io/Dutt1ez/full/GRreGgW" target="_blank" class="portfolio-image"><img src="media\images\ToDo.JPG" alt="Under Construction"></a>
        <span>To-do list app</span>
      </div>
    </div>
    <div class="stand">
      <div class="portfolio">
        <img src="media\images\under-construction.jpg" alt="Under Construction">
      </div>
    </div>
  </div>
</div>
{% endblock %}